%button__small--white {
    margin-top: .6em;
    padding: $buttonPadding;
    height: 2em;
    width: auto;
    display: inline-block;
    border-radius: $buttonBorderRadius;
    border: $buttonBorder;
    background: $buttonBackground;
    color: $buttonColor;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    line-height: 2em;
    &:hover {
        background: $buttonStateBackground;
    }
}
