%slider-pp__caption__animate-in {
    @include animation(animateIn 1s ease-in-out);
}

@include keyframes(animateIn) {
    0% {
        @include transform($animateKeyframe0);
        opacity: 0;
    }
    50% {
        @include transform($animateKeyframe50);
        opacity: 0;
    }
    100% {
        @include transform($animateKeyframe100);
        opacity: 1;
    }
}
