/* ==========================================================================
   Fallbacks Slider
   No boxsizing support

   Trough feature-detection (by Modernizr)
   ========================================================================== */

@import "../../config/config";

.css_boxsizing {}
.no-boxsizing {
    .slider-pp--bottom, .slider-pp--top, .slider-pp--left, .slider-pp--right {
        .slider-pp__caption {
            width: $captionWidthFallback;
            padding: $captionPaddingFallback;
        }
        .slider-pp__thumbs {
            margin: 0;
            padding: 0;
        }
    }
    .slider-pp--top, .slider-pp--bottom {
        .slider-pp__thumbs--item {
            width: $itemSizeFallback;
            padding: $itemPaddingFallback;
        }
    }
    .slider-pp--right, .slider-pp--left {
        .slider-pp__thumbs--item {
            height: $itemIE7HeightFallback;
            width: $itemIE7WidthFallback;
            padding: $itemPaddingFallback;
        }
    }
}
