/* ==========================================================================
   Fallbacks Slider
   No table-cell support

   Trough feature-detection (by Modernizr)
   ========================================================================== */

@import "../../config/config";

.css_displaytable {}
.no-display-table {
    .slider-pp--top, .slider-pp--bottom {
        .slider-pp__thumbs {
            display: block;
            height: auto;
        }
        .slider-pp__thumbs--item {
            display: inline-block;
            float: left;
            min-height: 3em;
            height: 100%;
        }
    }
}
