/* ==========================================================================
   Components

   This file is exclusively intended for setting up variables.
   Never add styles directly to this file
   ========================================================================== */

// Which components would you like to use?
$use-cookie-consent:    true!default;
$use-full-img-bg:       true!default;
$use-navigation:        true!default;
$use-iconfont:          true!default;
$use-slider:            true!default;
$use-audioplayer:       true!default;

// Specific component configs
@import "components-config/cookie-consent";
@import "components-config/full-img-bg";
@import "components-config/navigation";
@import "components-config/iconfont";
@import "components-config/slider";
@import "components-config/audioplayer";
