/* ==========================================================================
   Navigation

   This file is exclusively intended for setting up variables.
   Never add styles directly to this file
   ========================================================================== */

//General
$cupcake-menu-height: 3em!default;
$cupcake-menu-responsive-breakpoint: 40em!default;

//Menu item
$cupcake-menu-item-width: auto!default;
$cupcake-menu-item-text-align: center!default;
$cupcake-menu-item-small-text-align: left!default;
$cupcake-menu-item-link-padding: 1.5em!default;

//Sublevel
$cupcake-menu-sublevel-z-index: 10!default;

//Menu toggle
$cupcake-menu-toggle-top-text-align: right!default;

//Colors
$cupcake-menu-background: #444!default;
$cupcake-menu-sublevel-background: #ccc!default;

$cupcake-menu-item-color: #fff!default;
$cupcake-menu-item-active-background: #333!default;

$cupcake-menu-sublevel-item-color: #333!default;
$cupcake-menu-sublevel-item-active-background: #aaa;

$cupcake-menu-toggle-color: #fff!default;
$cupcake-menu-toggle-top-background: #333!default;
$cupcake-menu-toggle-submenu-border-color: #fff!default;

$cupcake-menu-small-link-border-top-color: #fff!default;

$cupcake-menu-item-hover-background: #ccc!default;
$cupcake-menu-item-hover-color: #333!default;

$cupcake-menu-sublevel-item-hover-background: #aaa!default;
$cupcake-menu-sublevel-item-hover-color: #333!default;
