/* ==========================================================================
   Navigation

   This file is exclusively intended for setting up variables.
   Never add styles directly to this file
   ========================================================================== */

//General
$navigation-height: 3em!default;
$navigation-responsive-breakpoint: 40em!default;

//Menu item
$navigation-item-width: auto!default;
$navigation-item-text-align: center!default;
$navigation-item-small-text-align: left!default;
$navigation-item-link-padding: 1.5em!default;

//Sublevel
$navigation-sublevel-z-index: 10!default;

//Menu toggle
$navigation-toggle-top-text-align: right!default;

//Colors
$navigation-background: #444!default;
$navigation-sublevel-background: #ccc!default;

$navigation-item-color: #fff!default;
$navigation-item-active-background: #333!default;

$navigation-sublevel-item-color: #333!default;
$navigation-sublevel-item-active-background: #aaa;

$navigation-toggle-color: #fff!default;
$navigation-toggle-top-background: #333!default;
$navigation-toggle-submenu-border-color: #fff!default;

$navigation-small-link-border-top-color: #fff!default;

$navigation-item-hover-background: #ccc!default;
$navigation-item-hover-color: #333!default;

$navigation-sublevel-item-hover-background: #aaa!default;
$navigation-sublevel-item-hover-color: #333!default;
