/* ==========================================================================
   Slider

   Never add styles directly to this file - set up variables
   Style guide: https://github.com/necolas/idiomatic-css
   ========================================================================== */

/* Slider Type
  ========================================================================== */

    $sliderTypeAside:               false;

/* Viewport max-height
   ========================================================================== */

    $viewportHeight:                100% !default;

/* Slide controls
   ========================================================================== */

    $slideBackgroundColor:          lighten(tomato, 5%) !default;
    $slidePosition:                 relative !default;

/* Caption Controls */

    $captionFloat:                  left !default;
    $captionWidth:                  20% !default;
    $captionHeight:                 100% !default;
    $captionPadding:                1.5% !default;
    $captionPosition:               static !default;
    $captionPositionTop:            auto !default;
    $captionPositionRight:          auto !default;
    $captionPositionBottom:         auto !default;
    $captionPositionLeft:           auto !default;

    $captionBackground:             none !default;

    //Button
    $buttonBackground:              #FFF !default;
    $buttonStateBackground:         #F5F5F5 !default;
    $buttonColor:                   tomato !default;
    $buttonBorder:                  none !default;
    $buttonBorderRadius:            5px !default;
    $buttonPadding:                 0 .6em !default;

    //Fallbacks
    $captionPaddingFallback:        $captionPadding !default;
    $captionWidthFallback:          $captionWidth - ($captionPaddingFallback * 2) !default;

/* Image Controls */

    $imageWidth:                    80% !default;
    $imageFloat:                    left !default;

/* Direction Controls */

    $directionDisplay:              none !default;
    $directionColor:                tomato !default;
    $directionHoverColor:           lighten($directionColor, 10%) !default;

    $directionImage:                url(../img/buttons/slider_nav.svg) !default;
    $directionImageFallback:        url(../img/buttons/slider_nav.png) !default;
    $directionImageRepeat:          no-repeat !default;
    $directionImageWidth:           50px !default;
    $directionImageHeight:          50px !default;
    $directionImageMargin:          -25px 0 0 0 !default;

    $directionPostion:              absolute !default;
    $directionPostionTop:           50% !default;
    $directionPostionRight:         auto !default;
    $directionPostionBottom:        auto !default;
    $directionPostionLeft:          auto !default;

    $nextPositionTop:               $directionPostionTop !default;
    $nextPositionRight:             -50px !default;
    $nextPositionBottom:            auto !default;
    $nextPositionLeft:              auto !default;
    $nextBackgroundPosition:        100% 0 !default;

    $prevPositionTop:               $directionPostionTop !default;
    $prevPositionRight:             auto !default;
    $prevPositionBottom:            auto !default;
    $prevPositionLeft:              -50px !default;
    $prevBackgroundPosition:        0 0 !default;

/* Navbar controls
   ========================================================================== */

   $idleItemBackground:             #555 !default;
   $idleItemText:                   #EBEBEB !default;
   $hoverItemBackground:            #EBEBEB !default;
   $hoverItemText:                  #555 !default;
   $activeItemBackground:           tomato !default;
   $activeItemText:                 #fff !default;

   $itemAmount:                     3 !default;
   $itemSize:                       100%/$itemAmount !default; //only change the amount of items, item width is calculated automatically
   $itemPadding:                    3% !default;

   $idleItemDevider:                1px solid #ddd !default;
   $activeItemDevider:              1px solid #555 !default;

   //Fallbacks
    $itemPaddingFallback:           $itemPadding !default;
    $itemWidthFallback:             $itemSize - ($itemPaddingFallback * 2) !default;

/* Slider Animations
   ========================================================================== */

   $animateContent :                true !default;

   @if $animateContent == true {
      .flex-animateIn .slider-pp__caption {
         @extend %slider-pp__caption__animate-in;
      }
   }
