/* ==========================================================================
   Media

   Place any image- and text-like content side-by-side, as per:
   stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code

   E.g.:
   <div class="media">
       <img src="http://placekitten.com/200/300" alt="" class="media__img" />
       <p class="media__body">
           Lorem ipsum dolor sit amet, consectetur adipisicing elit,
           sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
       </p>
   </div>
   ========================================================================== */

.media{
    @extend %cf;
    display: block;
}

.media__img{
    float:left;
    margin-right: 1em;
}
.media__img--rev{
    float: right;
    margin-left: 1em;
}

.media__img, .media__img--rev{
    img{
        display: block;
    }
}

.media__body{
    overflow: hidden;
    _overflow: visible;
    zoom: 1;
}
.media__body,
.media__body > :last-child{
    margin-bottom: 0;
}
