/* ==========================================================================
   Responsive navigation
   ========================================================================== */

/* General
   ========================================================================== */
.cupcake-menu{
    position: relative;
    float: left;
    width: 100%;
    background: #444;
    padding: 0;
    margin: 0;
    list-style: none;
}
.cupcake-menu__item{
    display: block;
    float: left;
    width: auto;
    text-align: center;
}
.cupcake-menu__link{
    display: block;
    height: 44px;
    line-height: 44px;
    padding: 0 20px;
    color: white;
    text-decoration: none;
}
.cupcake-menu__item--active{
    background: #333;
}
.cupcake-menu__sublevel{
    position: absolute;
    width: 100%;
    left: 0;
    display: none;
    z-index: 10;
    background: #ccc;
    .cupcake-menu__link{
        color: #333;
    }
}
.cupcake-menu__toggle, .cupcake-submenu__toggle{
    display: none;
}



/* Responsive
   ========================================================================== */
@media only screen and (max-width: 40em) {
    .cupcake-menu__toggle{
        display: block;
        height: 44px;
        line-height: 44px;
        color: #fff;
        .icon-remove, .icon-chevron-up{
            display: none;
        }
        .icon-remove, .icon-reorder{
            margin-left: .5em;
        }
    }
    .cupcake-menu__toggle--active{
        .icon-remove, .icon-chevron-up{
            display: inline;
        }
        .icon-reorder, .icon-chevron-down{
            display: none;
        }
    }
    .cupcake-menu__toggle--top{
        padding: 0 20px;
        background: #444;
        text-align: right;
    }
    .cupcake-menu__toggle--submenu{
        position: absolute;
        top: 0;
        right: 0;
        width: 44px;
        text-align: center;
        border-left: 1px solid #fff;
    }
    .cupcake-menu{
        display: none;
        &.cupcake-menu--open{
            display: block;
        }
    }
    .cupcake-menu__item{
        float: none;
        text-align: left;
        overflow: hidden;
        position: relative;
    }
    .cupcake-menu__link{
        border-top: 1px solid #fff;
    }
    .cupcake-menu__sublevel{
        position: static;
    }
}

@media only screen and (min-width: 40em){
    .cupcake-menu__item{
        &:hover{
            background: #ccc;
            color: white;
            > .cupcake-menu__sublevel{
                display: block;
            }
        }
    }
}



/* Legacy
   ========================================================================== */
.lt-ie9{
    .cupcake-menu__item{
        &:hover{
            background: #ccc;
            color: white;
            > .cupcake-menu__sublevel{
                display: block;
            }
        }
    }
}


















