/* ==========================================================================
   Typography

   Some basic typo
   ========================================================================== */

/* Font family's
   ========================================================================== */
// Sans-serif
$helvetica: HelveticaNeue, Helvetica, Arial, sans-serif!default;
$arial: Arial, Helvetica, sans-serif!default;
$verdana: Verdana, Geneva, sans-serif!default;

// Serif
$times: 'Times New Roman', Times, serif!default;
$georgia: Georgia, 'Times New Roman', Times, serif!default;


/* Base
   ========================================================================== */
$base-font-size: 100%!default;
$base-line-height: 130%!default;

$base-font-family: $arial!default;
