<!DOCTYPE html>
<!--[if lt IE 7]>       <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="nl"> <![endif]-->
<!--[if IE 7]>          <html class="no-js lt-ie9 lt-ie8" lang="nl">        <![endif]-->
<!--[if IE 8]>          <html class="no-js lt-ie9" lang="nl">               <![endif]-->
<!--[if gt IE 8]><!-->  <html class="no-js" lang="nl">                  <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Full image background</title>

    <meta name="description" content="Responsive navigation manual test">

    <link rel="stylesheet" href="../../css/base.css" type='text/css' />
    <link rel="stylesheet" href="../../css/bootstrap.css" type='text/css' />

    <script type="text/javascript" src="../../vendor/modernizr/modernizr-custom.js"></script>
</head>
<body class="full-img-bg" style="background-image: url(../img/full-img-bg.jpg);">
    <div class="container">
        <header>
            <h1>Full image background</h1>
        </header>

        <main role="main">
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, temporibus, quibusdam cumque labore molestiae odit expedita animi qui perferendis aliquam quis ipsa quae dolor. Tenetur, esse, expedita, sit aperiam voluptate laborum sunt deserunt enim quas voluptates impedit fuga pariatur ratione perspiciatis doloribus nam itaque eaque repellendus est ab id a consectetur totam delectus eius! Quae, itaque rerum aliquam cum illum veritatis magnam incidunt quos dignissimos quisquam placeat officiis architecto tenetur. Debitis, error animi excepturi alias earum?</p>
            </div>
        </main>
    </div>

    <script src="../../vendor/jquery/jquery.min.js"></script>
    <!--<script src="../../js/full-img-bg/jquery.backstretch.min.js"></script>
    <script src="../../js/full-img-bg/full-img-bg.js"></script>-->

    <script>
        Modernizr.load({
          test: Modernizr.backgroundsize,
          nope: ['../../js/full-img-bg/jquery.backstretch.min.js', '../../js/full-img-bg/full-img-bg.js']
        });
    </script>

</body>
</html>


































