<!DOCTYPE html>
<!--[if lt IE 7]>       <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="nl"> <![endif]-->
<!--[if IE 7]>          <html class="no-js lt-ie9 lt-ie8" lang="nl">        <![endif]-->
<!--[if IE 8]>          <html class="no-js lt-ie9" lang="nl">               <![endif]-->
<!--[if gt IE 8]><!-->  <html class="no-js" lang="nl">                  <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Bootstrap Modal example</title>

    <meta name="description" content="">

    <link rel="stylesheet" href="../../css/base.css" type='text/css' />
    <link rel="stylesheet" href="../../css/bootstrap.css" type='text/css' />
</head>
<body>
    
    <div class="container">
        <header>
            <h1>Bootstrap Modal</h1>
        </header>

        <section>
            <p>To prevent accidental closing of a Bootstrap Modal, for example while filling in a form, specify <code>data-backdrop="static"</code></p>
            <hr>
            <p>
                Example: <code>data-backdrop="static"</code></code>
            </p>
            <button type="button" data-toggle="modal" data-backdrop="static" data-target="#myModal" class="btn btn-primary">Launch modal</button>
        </section>
        
        <hr>
        
        <section>
            <p>
                Example: <code>data-backdrop="true"</code> or no <code>data-backdrop</code> attribute
                <br><br>
                The modal acts like the unmodified Bootstrap modal.
            </p>
            <button type="button" data-toggle="modal" data-backdrop="true" data-target="#myModal2" class="btn btn-primary">Launch modal</button>
        </section>

        <hr>
        
        <section>
            <p>
                Example: <code>data-backdrop="false"</code>
                <br><br>
                The modal acts like the unmodified Bootstrap modal without a backdrop.
            </p>
            <button type="button" data-toggle="modal" data-backdrop="false" data-target="#myModal3" class="btn btn-primary">Launch modal</button>
        </section>
    </div>

    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <header class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Modal header</h3>
        </header>
        <div class="modal-body">
            <p>
                Can only be closed using the close buttons ('Close', 'x')
                <pre>data-backdrop="static"</pre>
            </p>
        </div>
        <footer class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </footer>
    </div>

    <div id="myModal2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <header class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Modal header</h3>
        </header>
        <div class="modal-body">
            <p>Can be closed by clicking anywhere outside the modal</p>
        </div>
        <footer class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </footer>
    </div>

    <div id="myModal3" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <header class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Modal header</h3>
        </header>
        <div class="modal-body">
            <p>No backdrop</p>
        </div>
        <footer class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </footer>
    </div>

    <script src="../../vendor/jquery/jquery.min.js"></script>
    <script src="../../vendor/sass-bootstrap/js/bootstrap-modal.js"></script>

</body>
</html>