<!DOCTYPE html>
<!--[if lt IE 7]>       <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="nl"> <![endif]-->
<!--[if IE 7]>          <html class="no-js lt-ie9 lt-ie8" lang="nl">        <![endif]-->
<!--[if IE 8]>          <html class="no-js lt-ie9" lang="nl">               <![endif]-->
<!--[if gt IE 8]><!-->  <html class="no-js" lang="nl">                  <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Responsive navigation manual test</title>

    <meta name="description" content="Responsive navigation manual test">

    <link rel="stylesheet" href="../../css/bootstrap.css" type='text/css' />
    <link rel="stylesheet" href="../../css/base.css" type='text/css' />
</head>
<body>
    <h3>Cupcake navigation - Vanilla v0.3</h3>

    <nav role="navigation" class="js-navigation navigation navigation--big">
        <div class="js-navigation__toggle navigation__toggle navigation__toggle--top">
            MENU
            <i class="icon-reorder"></i>
            <i class="icon-remove"></i>
        </div>
        <ul class="js-main-navigation-level navigation__level">
            <li class="navigation__item">
                <a href="#" class="navigation__link">
                    Navitem L1
                </a>
            </li>
            <li class="navigation__item">
                <a href="#" class="navigation__link">
                    Navitem L1
                </a>
                <div class="js-navigation__toggle navigation__toggle navigation__toggle--submenu">
                    <i class="icon-chevron-down"></i>
                    <i class="icon-chevron-up"></i>
                </div>
                <ul class="navigation__level navigation__level--sublevel">
                    <li class="navigation__item navigation__item--active">
                        <a href="#" class="navigation__link">
                            Navitem L2
                            <i class="icon-chevron-right"></i>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="navigation__item">
                <a href="#" class="navigation__link">
                    Navitem L1
                </a>
            </li>
            <li class="navigation__item">
                <a href="#" class="navigation__link">
                    Navitem L1
                </a>
            </li>
            <li class="navigation__item">
                <a href="#" class="navigation__link">
                    Navitem L1
                </a>
            </li>
            <li class="navigation__item">
                <a href="#" class="navigation__link">
                    Navitem L1
                </a>
            </li>
            <li class="navigation__item">
                <a href="#" class="navigation__link">
                    Navitem L1
                </a>
            </li>
        </ul>
    </nav>

    <script src="../../../js/navigation/vanilla.navigation.js"></script>

    <script>
        cupcake.navigation.init();
    </script>
</body>
</html>


































