<!DOCTYPE html>
<!--[if lt IE 7]>       <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="nl"> <![endif]-->
<!--[if IE 7]>          <html class="no-js lt-ie9 lt-ie8" lang="nl">        <![endif]-->
<!--[if IE 8]>          <html class="no-js lt-ie9" lang="nl">               <![endif]-->
<!--[if gt IE 8]><!-->  <html class="no-js" lang="nl">                  <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Slider test</title>

    <meta name="description" content="Responsive navigation manual test">

    <link rel="stylesheet" href="../../css/base.css" type='text/css' />
    <link rel="stylesheet" href="../../css/bootstrap.css" type='text/css' />
    <script src="../../vendor/modernizr/modernizr-custom.js"></script>
</head>
<body>
    <div class="container">
        <div class="slider-pp__wrapper">
            <section class="slider-pp flexslider">
                <ul class="slides">
                    <li>
                        <img src="../../img/general/placeholder_img.png">
                        <div class="slider-pp__caption">
                            <h3 class="slider-pp__caption--title">Titel</h3>
                            <p class="slider-pp__caption--text">In the works of Stone, a predominant concept is the concept of postsemioticist consciousness.</p>
                            <a href="#" class="slider-pp__caption--button btn" type="button">Button</a>
                        </div>
                    </li>
                    <li>
                        <img src="../../img/general/placeholder_img.png">
                        <div class="slider-pp__caption">
                            <h3 class="slider-pp__caption--title">Titel</h3>
                            <p class="slider-pp__caption--text">In the works of Stone, a predominant concept is the concept of postsemioticist consciousness.</p>
                            <a href="#" class="slider-pp__caption--button btn" type="button">Button</a>
                        </div>
                    </li>
                    <li>
                        <img src="../../img/general/placeholder_img.png">
                        <div class="slider-pp__caption">
                            <h3 class="slider-pp__caption--title">Titel</h3>
                            <p class="slider-pp__caption--text">In the works of Stone, a predominant concept is the concept of postsemioticist consciousness.</p>
                            <a href="#" class="slider-pp__caption--button btn" type="button">Button</a>
                        </div>
                    </li>
                </ul>
            </section>
        </div>
        <section class="slider-pp__nav">
            <div class="slider-pp__nav-wrapper">
                <div class="slider-pp__nav--item">
                    <p>Narratives of failure</p>
                </div>
                <div class="slider-pp__nav--item">
                    <p>Dialectic nationalism a study of structural symbolism</p>
                </div>
                <div class="slider-pp__nav--item">
                    <p>Contexts of dialectic</p>
                </div>
            </div>
        </section>
    </div>

    <script src="../../vendor/jquery/jquery.min.js"></script>
    <script src="../../vendor/flexslider/jquery.flexslider.js"></script>
    <script src="../../js/slider/slider.js"></script>
    <!--<<script src="../../../js/navigation/vanilla.navigation.js"></script>-->

    <script>
        $(function() {
            cupcake.slider.init();
        });
    </script>
</body>
</html>


































