@mixin slider-aside {
    .slider-pp__wrapper {
        position: relative;
        height: 100%;
    }

    .slider-pp {
        width: 80%;                                                            //VARIABEL
        float: left;                                                           //variabel
    }

    /* Slider custom nav block */
    .slider-pp__nav {
        position: absolute;
        display: block;
        top: 0;                                                                 //variabel
        right: 0;                                                               //variabel
        width: 20%;                                                             //variabel
        height: 100%;
    }

    .slider-pp__nav-wrapper {
        width: 100%;
        height: 100%;
        display: block;
    }

    .slider-pp__nav--item {
        display: block;
        width: 100%;                                                            //variabel
        height: $itemSize;
        border-top: $idleItemDevider;
    }

    .flex-active {
        border-top: $activeItemDevider;
        background: $activeItemBackground;
        color: $activeItemText;
        &:hover {
            background: $activeItemBackground;
            color: $activeItemText;
        }
    }

    /* Direction Nav */
    .flex-direction-nav {
        display: $directionDisplay;
    }

    /* ==========================================================================
       Media Queries
       ========================================================================== */

    @media (max-width: 48em) {
        .slider-pp__nav {
            width: 100%;
        }
    }
}
