/* ==========================================================================
   General
   ========================================================================== */

.slider-pp * {
   -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
           box-sizing: border-box;
   -webkit-font-smoothing: antialiased;
           font-smoothing: antialiased;
   -webkit-backface-visibility: hidden;
}

.container {
    max-width: 62.5em;
    width: 100%;
    margin: 0 auto;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
}

/* ==========================================================================
   General Slider
   ========================================================================== */

.flex-container, .slider-pp, .flex-container, .slider-pp__flexslider {
    a:focus, a:active {
        outline: none;
    }
}

.slides, .flex-control-nav, .flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slider-pp {
    width: 100%;
    margin: 0 0 4em 0;
    padding: 0;
    &:first-child {
        margin-top: 4em;
    }
}

.slider-pp .slides > li {
    display: none;
}

.slider-pp__flexslider {
    margin: 0;
    padding: 0;
    position: relative;
    zoom: 1;
    z-index: 1;
    background: #fff;
    border: none;
    border-radius: 0;
    box-shadow: none;
    .slides {
        position: relative;
        li {
            position: $slidePosition;
            background: $slideBackgroundColor;
        }
        img {
            width: $imageWidth;
            float: $imageFloat;
            display: block;
        }
    }

    &:hover {
        .flex-next{
            right: $nextPositionRight;
        }

        .flex-prev{
            left: $prevPositionLeft;
        }
    }
}

.slider-pp__caption {
    width: $captionWidth;
    height: $captionHeight;
    padding: $captionPadding;
    float: $captionFloat;
    position: $captionPosition;
    top: $captionPositionTop;
    right: $captionPositionRight;
    left: $captionPositionBottom;
    bottom: $captionPositionLeft;
    color: #fff;
    background: $captionBackground;
    h3 {
        margin: 0 0 .5em 0;
    }
    p {
        margin: 0;
    }
    .slider-pp__caption--button {
        @extend %button__small--white;
    }
}

.flex-viewport {
    max-height: $viewportHeight;
    .loading & {
        max-height: 300px;
    }
}

.carousel li {
    margin-right: 5px;
}

/* Slider custom nav block */
.slider-pp__thumbs {
    padding: 0;
    z-index: 1;
}

.slider-pp__thumbs--item {
    margin: 0;
    padding: $itemPadding;
    position: relative;
    background: $idleItemBackground;
    color: $idleItemText;
    cursor: pointer;
    @include transition (all .3s ease-in);
    p {
        margin: 0;
    }
    &:hover, &:focus {
        background: $hoverItemBackground;
        color: $hoverItemText;
    }
}

.flex-active {
    background: $activeItemBackground;
    color: $activeItemText;
    &:hover {
        background: $activeItemBackground;
        color: $activeItemText;
    }
}

/* Direction Nav */
.flex-direction-nav {
    *height: 0;
    *width: 100%;
    margin: 0;
    padding: 0;
    display: $directionDisplay;
    list-style: none;
    font-size: 0;
    line-height: 0;
    a {
        width: $directionImageWidth;
        height: $directionImageHeight;
        margin: $directionImageMargin;
        position: $directionPostion;
        display: block;
        z-index: -9999;
        background-image: $directionImage;
        background-repeat: $directionImageRepeat;
        background-color: $directionColor;
        text-indent: -9999px;
        opacity: 1;
        @include transition (all .3s ease-in);
        &:hover {
            background-color: $directionHoverColor;
        }
    }
    a.flex-next:before {
        content: ' ';
    }
    .flex-next {
        background-position: $nextBackgroundPosition;
        top: $nextPositionTop;
        right: $nextPositionRight;
        bottom: $nextPositionBottom;
        left: $nextPositionLeft;
    }
    .flex-prev {
        background-position: $prevBackgroundPosition;
        top: $prevPositionTop;
        right: $prevPositionRight;
        bottom: $prevPositionBottom;
        left: $prevPositionLeft;
    }
}

/* Fix for the caption animation */
.clone .slider-pp__caption {
    opacity: 0;
}

/* ==========================================================================
   Specific sliders
   ========================================================================== */

.slider-pp--bottom, .slider-pp--top {
    .slider-pp__thumbs {
        width: 100%;
        position: relative;
        display: table;
    }

    .slider-pp__thumbs-wrapper {
        display: table-row;
    }

    .slider-pp__thumbs--item {
        width: $itemSize;
        height: 100%;
        position: relative;
        display: table-cell;
        vertical-align: middle;
        border-left: $idleItemDevider;
        &:first-child {
            border: none;
        }
    }
}

.slider-pp--right, .slider-pp--left {
    height: 100%;
    position: relative;
    .slider-pp__flexslider {
        width: $asideSlideWidth;
    }
    /* Slider custom nav block */
    .slider-pp__thumbs {
        width: $asideThumbWidth;
        height: 100%;
        position: absolute;
        top: 0;
        display: block;
    }
    .slider-pp__thumbs-wrapper {
        width: 100%;
        height: 100%;
        display: block;
    }
    .slider-pp__thumbs--item {
        width: 100%;
        height: $itemSize;
        display: block;
        border-top: $idleItemDevider;
        &:first-child {
            border: none;
        }
    }
    /* Direction Nav */
    .flex-direction-nav {
        display: none; //overwrite for the sake of example, change this back to the default $directionDisplay variable, for single usage
    }
}

.slider-pp--right .slider-pp__thumbs {
    right: 0;
}

.slider-pp--left .slider-pp__thumbs {
    left: 0;
}

.slider-pp--left .slider-pp__flexslider {
    margin-left: $asideLeftMarginLeft;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 67em) {
    .flex-direction-nav {
        display: none;
    }
}

@media (max-width: 48em) {
    .slider-pp, .slider-pp--top, .slider-pp--right, .slider-pp--bottom, .slider-pp--left {
        position: relative;
        margin: 0 0 40px 0;

        .slider-pp__thumbs {
            position: absolute;
            top: auto;
            bottom: -30px;
            width: 100%;
            margin: 0;
            padding: 0;
            z-index: 1;
            text-align: center;
            &:before {
                content: '';
                display: none;
            }
        }
        .slider-pp__thumbs--item {
            p {
                display: none;
            }
            height: 15px;
            width: 15px;
            padding: 0;
            margin-right: .5em;
            float: none;
            display: inline-block;
            border-radius: 50%;
            background: #fff;
            border: 1px solid $activeItemBackground;
            &:first-child {
                border: 1px solid $activeItemBackground;
            }
            &:before {
                box-shadow: none;
            }
        }
        .slider-pp__flexslider {
            width: 100%;
        }
        .slider-pp__flexslider .slides img{
            width: 100%;
        }
        .slider-pp__caption {
            width: 100%;
            height: 100%;
            position: static;
            padding: .5em !important;
            h3 {
                margin: 0 0 .5em 0;
                font-size: 1em;
                line-height: 100%;
            }
            p {
                margin: 0;
            }
        }
        .flex-viewport {
            max-height: 100%;
        }
        .flex-active {
            background: $activeItemBackground;
        }
    }

    .slider-pp--left, .slider-pp--right {
        .slider-pp__flexslider {
            margin: 0;
        }

        .slider-pp__thumbs, .slider-pp__thumbs-wrapper {
            height: auto;
        }
    }
}

/* ==========================================================================
   No JavaScript Fallback
   ========================================================================== */

.no-js .slides > li:first-child {
    display: block;
}
