/* ==========================================================================
   Navigation

   This file is exclusively intended for setting up variables.
   Never add styles directly to this file
   ========================================================================== */


/* General
   ========================================================================== */
$use-navigation-small:                          true!default;
$use-navigation-animated:                       true!default;



/* Scafolding
   ========================================================================== */
//General
$navigation-height:                             3em!default;


//Navigation item
$navigation-item-float:                         left!default;
$navigation-item-width:                         auto!default;
$navigation-item-text-align:                    center!default;
$navigation-item-small-text-align:              left!default;
$navigation-item-link-padding:                  1.5em!default;


//Sublevel
$navigation-sublevel-z-index:                   10!default;
$navigation-sublevel-width:                     100%!default;

$navigation-sublevel-item-float:                left!default;
$navigation-sublevel-item-text-align:           center!default;


//Navigation toggle
$navigation-toggle-top-text-align:              right!default;



/* Colors
   ========================================================================== */
//General
$navigation-background:                         #444!default;
$navigation-small-background:                   #444!default;


//Navigation item
$navigation-item-color:                         #fff!default;
$navigation-item-active-background:             #333!default;

$navigation-item-hover-background:              #ccc!default;
$navigation-item-hover-color:                   #333!default;

$navigation-item-link-hover-color:              #333!default;

$navigation-small-item-color:                   #fff!default;


//Sublevel
$navigation-sublevel-background:                #ccc!default;

$navigation-sublevel-item-color:                #333!default;
$navigation-sublevel-item-active-background:    #aaa!default;
$navigation-sublevel-item-hover-background:     #aaa!default;
$navigation-sublevel-item-hover-color:          #333!default;

$navigation-small-sublevel-item-color:           #fff!default;
$navigation-small-sublevel-background:           #ccc!default;


//Navigation toggle
$navigation-toggle-color:                       #fff!default;
$navigation-toggle-top-background:              #333!default;

$navigation-sublevel-toggle-color:              #333!default;
$navigation-sublevel-toggle-border-color:        #fff!default;


//Navigation small
$navigation-small-link-border-top-color:        #fff!default;



/* Animation
   ========================================================================== */
$navigation-animation-duration:                 .6s!default;
